In [2]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_excel('../data/The history of global natural gas production.xlsx',sheet_name = 1)

In [6]:
data.head()

,Year,United States,Russia,Iran,China,Canada,Afghanistan,Albania,Algeria,Angola,...,USSR,Ukraine,United Arab Emirates,United Kingdom,Uzbekistan,Venezuela,Vietnam,World,Yemen,Yugoslavia
0,1900,0.265826,NaN,0.0,0.0,0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.265826,NaN,0.0
1,1901,0.294581,NaN,0.0,0.0,0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.294581,NaN,0.0
2,1902,0.323337,NaN,0.0,0.0,0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.323337,NaN,0.0
3,1903,0.352092,NaN,0.0,0.0,0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.352092,NaN,0.0
4,1904,0.380848,NaN,0.0,0.0,0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.380848,NaN,0.0

In [8]:
data = data.melt(id_vars=['Year'],var_name='country',value_name='gas' )

In [9]:
data.to_csv('tidy_gas.csv')